<div class="chart-container" #chartContainer>
  <!-- No data message -->
  @if (!meterValues() || meterValues().length === 0) {
    <div class="no-data-message">
      <mat-icon>show_chart</mat-icon>
      <p>No energy consumption data available</p>
    </div>
  }
  
  <!-- SVG Chart -->
  @if (meterValues() && meterValues().length > 0) {
    <svg
       class="chart-svg"
       [attr.width]="chartWidth()"
       [attr.height]="chartHeight()"
       [attr.viewBox]="'0 0 ' + chartWidth() + ' ' + chartHeight()"
       preserveAspectRatio="xMidYMid meet"
       (mousemove)="onMouseMove($event)"
       (mouseleave)="onMouseLeave()">
    
    <!-- Grid lines -->
    <g class="grid">
      <!-- Vertical grid lines -->
      @for (x of gridLines().vertical; track i; let i = $index) {
        <line [attr.x1]="x"
              [attr.y1]="padding.top"
              [attr.x2]="x"
              [attr.y2]="chartHeight() - padding.bottom"
              class="grid-line" />
      }
      
      <!-- Horizontal grid lines -->
      @for (y of gridLines().horizontal; track i; let i = $index) {
        <line [attr.x1]="padding.left"
              [attr.y1]="y"
              [attr.x2]="chartWidth() - padding.right"
              [attr.y2]="y"
              class="grid-line" />
      }
    </g>
    
    <!-- Axes -->
    <g class="axes">
      <!-- X axis -->
      <line [attr.x1]="padding.left"
            [attr.y1]="chartHeight() - padding.bottom"
            [attr.x2]="chartWidth() - padding.right"
            [attr.y2]="chartHeight() - padding.bottom"
            class="axis" />
      
      <!-- Y axis -->
      <line [attr.x1]="padding.left"
            [attr.y1]="padding.top"
            [attr.x2]="padding.left"
            [attr.y2]="chartHeight() - padding.bottom"
            class="axis" />
    </g>
    
    <!-- Y-axis labels -->
    <g class="y-axis-labels">
      @for (label of yAxisLabels(); track i; let i = $index) {
        <text [attr.x]="padding.left - 10"
              [attr.y]="(label.y ?? 0) + 4"
              class="y-axis-label">
          {{ label.value }}
        </text>
      }
    </g>
    
    <!-- X-axis labels -->
    <g class="x-axis-labels">
      @for (label of xAxisLabels(); track i; let i = $index) {
        <text [attr.x]="label.x ?? 0"
              [attr.y]="chartHeight() - padding.bottom + 20"
              class="x-axis-label">
          {{ label.value }}
        </text>
      }
    </g>
    
    <!-- Energy data line -->
    <path [attr.d]="energyDataPath()"
          class="energy-line"
          fill="none" />
    
    <!-- Power data line -->
    <path [attr.d]="powerDataPath()"
          class="power-line"
          fill="none" />
    
    <!-- Energy data points -->
    @for (point of energyDataPoints(); track i; let i = $index) {
      <circle [attr.cx]="point.x"
              [attr.cy]="point.y"
              [attr.r]="point.hovered ? 6 : 4"
              class="energy-point"
              [class.hovered]="point.hovered" />
    }
    
    <!-- Power data points -->
    @for (point of powerDataPoints(); track i; let i = $index) {
      <circle [attr.cx]="point.x"
              [attr.cy]="point.y"
              [attr.r]="point.hovered ? 6 : 4"
              class="power-point"
              [class.hovered]="point.hovered" />
    }
    
    <!-- Hover line -->
    @if (hoverLine().x > 0) {
      <line [attr.x1]="hoverLine().x"
            [attr.y1]="padding.top"
            [attr.x2]="hoverLine().x"
            [attr.y2]="chartHeight() - padding.bottom"
            class="hover-line" />
    }
    
    <!-- Hover point -->
    @if (hoverPoint().x > 0) {
      <circle [attr.cx]="hoverPoint().x"
              [attr.cy]="hoverPoint().y"
              r="6"
              class="hover-point" />
    }
    </svg>
  }
  
  <!-- Legend -->
  @if (meterValues() && meterValues().length > 0) {
    <div class="chart-legend">
    <div class="legend-item">
      <div class="legend-color energy"></div>
      <span class="legend-text">Consumed Energy (kWh)</span>
    </div>
    <div class="legend-item">
      <div class="legend-color power"></div>
      <span class="legend-text">Power Level (kW)</span>
    </div>
    </div>
  }
  
  <!-- Tooltip -->
  <div class="chart-tooltip"
       [style.left.px]="tooltipX()"
       [style.top.px]="tooltipY()"
       [style.display]="showTooltip() ? 'block' : 'none'">
    <div class="tooltip-content">
      <div class="tooltip-time">{{ tooltipTime() }}</div>
      <div class="tooltip-value">{{ tooltipEnergyKwh() }} kWh</div>
      @if (tooltipPower() > 0) {
        <div class="tooltip-power">{{ tooltipPowerKw() }} kW</div>
      }
    </div>
  </div>
</div>
